set -g default-terminal "screen-256color"
set -ga terminal-overrides ",*-256color:Tc"

unbind %
bind | split-window -h

unbind '"'
bind - split-window -v

unbind r
bind r source-file ~/.tmux.conf

bind -r j resize-pane -D 5
bind -r k resize-pane -U 5
bind -r l resize-pane -R 5
bind -r h resize-pane -L 5

bind -r m resize-pane -Z

set-window-option -g mode-keys vi

bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-selection

unbind -T copy-mode-vi MouseDragEnd1Pane

set -g mouse on

# set correct CPU architecture for apple chips
if-shell '[ "$(uname -m)" = "arm64" ]' 'set-option -g default-command "arch -arch arm64 /bin/zsh"'

set -g @plugin 'tmux-plugins/tpm'

set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-resurrect' # persist sessions on system restart
#set -g @plugin 'tmux-plugins/tmux-continuum' # autosave sessions every 15m...
set -g @plugin 'wfxr/tmux-fzf-url' # leader + u to search through recent urls and open in default browserr

bind C-k send-keys 'C-k' # restore Ctrl+k to forward kill-line

set-option -g status "on"

set-option -g status-style bg="#262626",fg="#BCBCBC"

set-option -g pane-active-border-style fg="#73D604"
set-option -g pane-border-style fg="#6C4E8B"

set-window-option -g window-status-current-style bg="#262626",fg="#73D604"
set-window-option -g window-status-style bg="#303030",fg="#BCBCBC"
setw -g window-status-activity-style bg="#262626",fg="#73D604"

set-option -g message-style bg="#262626",fg="#BCBCBC"

set-option -g display-panes-active-colour "#73D604"
set-option -g display-panes-colour "#303030"

set-option -g status-left '#[bg=#262626,fg=#73D604] 🚀 #S #[bg=#262626,fg=#BCBCBC,nobold,noitalics,nounderscore]🔨 #(aerospace_get_focused_window_label) '
set-option -g status-right '#[bg=#262626,fg=#BCBCBC] 🔥 #(uptime_human_readable) #[bg=#262626,fg=#BCBCBC] 🕒 %d.%m.%Y %H:%M #[bg=#262626,fg=#BCBCBC]'

set-option -g status-justify "left"
set-option -g status-left-length "80"
set-option -g status-right-length "80"
set-option -g status-left-style none
set-option -g status-right-style none
set-window-option -g window-status-separator "  "

set -g @ressurect-capture-pane-contents 'on'
set -g @continuum-restore 'on'

# neovim comp
set-option -sg escape-time 10
set-option -g focus-events on

# init TPM plugin manager - keep at bottom
run '~/.tmux/plugins/tpm/tpm'

